<footer>
  <div class="relative max-w-[69.375rem] mx-auto pb-12 md:pb-0">
    <div
      class="absolute top-[3.75rem] left-0 right-0 bottom-0 bg-neutral-100 md:top-0 md:right-[9.75rem]">
    </div>
    <div class="relative z-10 flex flex-col gap-8 items-center md:flex-row md:justify-between">
      <a routerLink="/" aria-label="Homepage"
        class="w-[7.5rem] h-[7.5rem] bg-neutral-800 grid place-items-center xl:w-[12.5rem] xl:h-[12.5rem]">
        <img src="/assets/logo.svg"
          class="[filter:_brightness(0)_invert(100%)] w-[3.625rem] xl:w-24" alt="">
      </a>
      <ul
        class="flex flex-col items-center gap-8 text-neutral-400 font-bold text-[1.125rem] 
        leading-[1.5625rem] md:flex-row md:gap-14">
        <li><a routerLink="/portfolio" class="hover:text-neutral-800">Portfolio</a>
        </li>
        <li><a routerLink="/about" class="hover:text-neutral-800">About Us</a></li>
        <li><a routerLink="/contact" class="hover:text-neutral-800">Contact</a></li>
      </ul>
      <a routerLink="/portfolio" class="primary-button">See Our Portfolio</a>
    </div>
  </div>
</footer>