<section class="mt-[4.5rem] md:mt-[12.5rem]">
  <div class="container xl:grid xl:grid-cols-[27.875rem,33.75rem] xl:justify-between">
    <div>
      <div class="w-16 h-0 border-b border-neutral-200"></div>
      <h2 class="mt-16 md:mt-12 headline-md text-neutral-800 xl:mt-20">Our <br /> Heritage</h2>
      <div class="body-md text-neutral-500 flex flex-col gap-6 mt-5 md:mt-16">
        <p>Founded in 2007, we started as a trio of architects. Our complimentary skills
          and
          relentless attention to detail turned Arch into one of the most sought after
          boutique
          firms in the country.
        </p>
        <p>
          Speciliazing in Urban Design allowed us to focus on creating exceptional
          structures that
          live in harmony with their surroundings. We consider every detail from every
          surrounding
          element to inform our designs.
        </p>
        <p>
          Our small team of world-class professionals provides input on every project.
        </p>
      </div>
    </div>
    <img src="/assets/about/desktop/image-heritage.jpg" alt="" class="hidden xl:block">
  </div>
</section>