@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    font-family: "League Spartan", sans-serif;
  }

  main {
    min-height: 200vh;
  }

  html {
    @apply font-medium leading-none;
  }
}

@layer components {
  .container {
    @apply mx-auto;
    max-width: calc(100% - 1rem);
  }

  @media screen(sm) {
    .container {
      max-width: 19.4375rem;
    }
  }

  @media screen(md) {
    .container {
      max-width: 35.8125rem;
    }
  }

  @media screen(xl) {
    .container {
      max-width: 69.375rem;
    }
  }
}

@layer components {
  .headline-xl {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -1.2px;
  }

  .headline-md {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.25rem;
    letter-spacing: -1.71429px;
  }

  .headline-sm {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .body-md {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .body-nav {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @media screen(md) {
    .headline-xxl {
      font-weight: 700;
      font-size: 7.5rem;
      line-height: 12.5rem;
      letter-spacing: -3px;
    }

    .headline-xl {
      font-size: 6rem;
      line-height: 5rem;
      letter-spacing: -2px;
    }

    .headline-md {
      font-size: 4.5rem;
      line-height: 4rem;
      letter-spacing: -2px;
    }

    .body-nav {
      font-size: 1.125rem;
      line-height: 1.5625rem;
    }
  }

  @media screen(xl) {
    .headline-xxl {
      font-size: 15.625rem;
      line-height: 12.5rem;
      letter-spacing: -5px;
    }
  }
}

@layer components {
  .primary-button {
    @apply flex items-center justify-center bg-neutral-800 hover:bg-neutral-500 text-neutral 
    gap-6 w-max h-max;
    padding: 1.5625rem 2rem 1.375rem 2.3125rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }

  .primary-button::after {
    @apply block bg-neutral;
    content: "";
    width: 1.5rem;
    height: 1.125rem;
    mask-image: url(/assets/icons/icon-arrow.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  @keyframes slide-left-animation {
    from {
      transform: translateX(20%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slide-right-animation {
    from {
      transform: translateX(-20%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .slide-left {
    animation-name: slide-left-animation;
    animation-duration: 1s;
  }

  .slide-right {
    animation-name: slide-right-animation;
    animation-duration: 1s;
  }

  .project-backdrop {
    @apply absolute inset-0;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.01%,
      rgba(0, 0, 0, 0.499044) 100%
    );
  }
}
